@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Vehicles project!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Here you can see how I did on the project that you gave me!</h2>
    </div>
</div>
